<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.ai.sports.system.mapper.RoleMapper">

    <select id="findUserRole" resultType="com.mx.ai.sports.system.entity.Role">
        SELECT
            r.*
        FROM
            SYS_ROLE r
        LEFT JOIN SYS_USER_ROLE ur ON (r.role_id = ur.role_id)
        LEFT JOIN SYS_USER u ON (u.user_id = ur.user_id)
        WHERE
            u.username = #{username}
    </select>
</mapper>
