<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>Ai体育-用户协议与隐私政策</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div style="text-align:center"><h3>用户协议与隐私政策</h3></div>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为加快落实《全民健身计划纲要》、《国家十三五发展规划纲要》内容的实施，加强现代化教育，弘扬优秀民族传统文化，提高当代大学生基本的身体运动能力，培养当代大学生坚强的意志品质能力，2018-2019年度（上）学期内江师范学院体育学院积极筹办主题为“智能健身”的课外体育活动，内江师范学院体育学院推出了“AI体育"App,学校对信息安全和个人隐私做如下保障
<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 本App所使用数据都存储在用户所在学校信息中心服务器内(天气等少量公共信息获取自互联网)。
<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.技术服务方除服务和技术维护工作外,无权接触或使用本App的任何数据。
<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.本App的管理权归用户所在学校所有,技术服务方无权通过App进行任何商业经营活动。
</body>
</html>