<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.ai.sports.course.mapper.CourseMapper">
    <select id="findByCourseName" resultType="com.mx.ai.sports.course.entity.Course">
        SELECT
            ac.COURSE_ID AS courseId,
            ac.COURSE_NAME AS courseName,
            ac.CONTENT AS content,
            ac.CREATE_TIME AS createTime,
            ac.UPDATE_TIME AS updateTime,
            ac.USER_ID AS userId,
            ac.`WEEK` AS `week`,
            ac.START_TIME AS startTime,
            ac.END_TIME AS endTime,
            ac.SIGNED_TIME AS signedTime,
            ac.LAT AS lat,
            ac.LON AS lon,
            ac.LOCATION_NAME AS locationName,
            ac.SCOPE AS scope,
            ac.IMAGES AS images,
            ac.STATUS AS status,
            ac.IS_RUN AS isRun,
            ac.COURSE_JOB_ID AS courseJobId,
            ac.STUDENT_JOB_ID AS studentJobId
        FROM
            APP_COURSE ac
        WHERE
            ac.COURSE_NAME = #{courseName}
            <if test="courseId != null and courseId != ''">
                AND ac.COURSE_ID != #{courseId}
            </if>
        LIMIT 1
    </select>

    <select id="findAll" resultType="com.mx.ai.sports.course.vo.CourseVo">
        SELECT
            ac.COURSE_ID AS courseId,
            ac.COURSE_NAME AS courseName,
            ac.CONTENT AS content,
            ac.USER_ID AS userId,
            su.FULL_NAME AS fullName,
            ac.`WEEK` AS `week`,
            ac.START_TIME AS startTime,
            ac.END_TIME AS endTime,
            ac.SIGNED_TIME AS signedTime,
            ac.LAT AS lat,
            ac.LON AS lon,
            ac.LOCATION_NAME AS locationName,
            ac.SCOPE AS scope,
            ac.IMAGES AS images,
            ac.STATUS AS STATUS,
            ac.IS_RUN AS isRun,
            CASE
            WHEN `week` LIKE '%${week}%' THEN
            1 ELSE 0
            END AS isToday,
            COUNT( acs.USER_ID ) allCount
        FROM
            APP_COURSE ac
        LEFT JOIN SYS_USER su ON su.USER_ID = ac.USER_ID
        LEFT JOIN APP_COURSE_STUDENT acs ON acs.COURSE_ID = ac.COURSE_ID
        WHERE 1 = 1
        <if test="userId != null and userId != ''">
            AND su.USER_ID = #{userId}
        </if>
        GROUP BY ac.COURSE_ID
        ORDER BY isToday DESC
    </select>

    <select id="findById" resultType="com.mx.ai.sports.course.vo.CourseVo">
        SELECT
            ac.COURSE_ID AS courseId,
            ac.COURSE_NAME AS courseName,
            ac.CONTENT AS content,
            ac.USER_ID AS userId,
            su.FULL_NAME AS fullName,
            ac.`WEEK` AS `week`,
            ac.START_TIME AS startTime,
            ac.END_TIME AS endTime,
            ac.SIGNED_TIME AS signedTime,
            ac.LAT AS lat,
            ac.LON AS lon,
            ac.LOCATION_NAME AS locationName,
            ac.SCOPE AS scope,
            ac.IMAGES AS images,
            ac.STATUS AS STATUS,
            ac.IS_RUN AS isRun,
        CASE WHEN `week` LIKE '%${week}%' THEN
            1 ELSE 0
            END AS isToday,
            COUNT( acs.USER_ID ) allCount
        FROM
            APP_COURSE ac
        LEFT JOIN SYS_USER su ON su.USER_ID = ac.USER_ID
        LEFT JOIN APP_COURSE_STUDENT acs ON acs.COURSE_ID = ac.COURSE_ID
        WHERE ac.COURSE_ID = #{courseId}
    </select>


    <select id="findMyEntry" resultType="com.mx.ai.sports.course.vo.CourseVo">
        SELECT
            temp.*,
            COUNT( acs1.USER_ID ) allCount
        FROM
            (
            SELECT
                ac.COURSE_ID AS courseId,
                ac.COURSE_NAME AS courseName,
                ac.CONTENT AS content,
                ac.USER_ID AS userId,
                su.FULL_NAME AS fullName,
                ac.`WEEK` AS `week`,
                ac.START_TIME AS startTime,
                ac.END_TIME AS endTime,
                ac.SIGNED_TIME AS signedTime,
                ac.LAT AS lat,
                ac.LON AS lon,
                ac.LOCATION_NAME AS locationName,
                ac.SCOPE AS scope,
                ac.IMAGES AS images,
                ac.STATUS AS STATUS,
                ac.IS_RUN AS isRun,
            CASE WHEN `week` LIKE '%${week}%' THEN
                    1 ELSE 0
                END AS isToday,
                3 AS entryStatus
            FROM
                APP_COURSE ac,
                SYS_USER su,
                APP_COURSE_STUDENT acs
            WHERE
                su.USER_ID = ac.USER_ID
                AND acs.COURSE_ID = ac.COURSE_ID
                AND acs.USER_ID = #{userId}
            ) AS temp
            LEFT JOIN APP_COURSE_STUDENT acs1 ON temp.courseId = acs1.COURSE_ID
        GROUP BY
            temp.courseId

    </select>
    <select id="findMyEntryByCurrent" resultType="com.mx.ai.sports.course.vo.CourseVo">
        SELECT
            ac.COURSE_ID AS courseId,
            ac.COURSE_NAME AS courseName,
            ac.CONTENT AS content,
            ac.USER_ID AS userId,
            ac.`WEEK` AS `week`,
            ac.START_TIME AS startTime,
            ac.END_TIME AS endTime,
            ac.SIGNED_TIME AS signedTime,
            ac.LAT AS lat,
            ac.LON AS lon,
            ac.LOCATION_NAME AS locationName,
            ac.SCOPE AS scope,
            ac.IMAGES AS images,
            ac.IS_RUN AS isRun,
            ac.`STATUS` AS `status`
        FROM
            APP_COURSE ac,
            APP_COURSE_STUDENT acs
        WHERE
            acs.COURSE_ID = ac.COURSE_ID
            AND acs.USER_ID = #{userId}
            AND ac.`WEEK` LIKE '%${week}%'
            AND ac.STATUS = 1
    </select>
    <select id="findExportRecordTotal" resultType="com.mx.ai.sports.course.dto.ExportRecordTotalDto">
        SELECT
            ac.COURSE_ID AS courseId,
            ac.COURSE_NAME AS courseName,
            su.FULL_NAME AS teacherName,
            su.USERNAME AS mobile,
            ac.`WEEK` AS `week`,
            ac.START_TIME AS startTime,
            ac.END_TIME AS endTime,
            count( acr.COURSE_ID ) AS courseCount,
            sum( acr.SINGED_COUNT ) AS signedCount,
            sum( acr.ABSENT_COUNT ) AS absentCount,
            sum( acr.LATE_COUNT ) AS lateCount,
            sum( acr.PASS_COUNT ) AS passCount,
            sum( acr.NO_PASS_COUNT ) AS noPassCount
        FROM
            APP_COURSE ac
        LEFT JOIN SYS_USER su ON ac.USER_ID = su.USER_ID
        LEFT JOIN APP_COURSE_RECORD acr ON ac.COURSE_ID = acr.COURSE_ID
        WHERE
        <![CDATA[
            acr.CREATE_TIME > #{startTime}
            AND acr.CREATE_TIME < #{endTime}
        ]]>
        GROUP BY
            acr.COURSE_ID
        ORDER BY
            ac.`WEEK`

    </select>

    <select id="findExportRecordStudent" resultType="com.mx.ai.sports.course.dto.ExportRecordStudentDto">
        SELECT
            ac.COURSE_ID AS courseId,
            su.USER_ID AS userId,
            ac.COURSE_NAME AS courseName,
            su.FULL_NAME AS studentName,
            su.USERNAME AS phone,
            COUNT( ars.COURSE_RECORD_ID ) AS courseCount,
            SUM( ars.IS_ABSENT ) AS absentCount,
            SUM( ars.IS_LATE ) AS lateCount,
            SUM( ars.IS_PASS ) AS passCount
        FROM
            APP_COURSE ac
        RIGHT JOIN APP_RECORD_STUDENT ars ON ac.COURSE_ID = ars.COURSE_ID
        LEFT JOIN SYS_USER su ON ars.USER_ID = su.USER_ID
        WHERE
        <![CDATA[
            ars.CREATE_TIME > #{startTime}
            AND ars.CREATE_TIME < #{endTime}
        ]]>
        GROUP BY
            ars.COURSE_ID,
            ars.USER_ID
        ORDER BY courseCount DESC
    </select>
</mapper>
