<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.ai.sports.course.mapper.GroupMapper">

    <select id="findCanJoinGroup" resultType="com.mx.ai.sports.course.entity.Group">
        SELECT
            ag.GROUP_ID AS groupId,
            ag.COURSE_ID AS courseId,
            ag.USER_ID AS userId,
            ag.GROUP_NAME AS groupName,
            ag.MAX_COUNT AS maxCount,
            ag.CREATE_TIME AS createTime
        FROM
            APP_GROUP_STUDENT ags
        RIGHT JOIN APP_GROUP ag ON ags.GROUP_ID = ag.GROUP_ID
        WHERE
            ag.COURSE_ID = #{courseId}
        GROUP BY
            ag.GROUP_ID
        HAVING
        <![CDATA[
            count( ags.USER_ID ) < ag.MAX_COUNT
        ]]>
        LIMIT 1

    </select>
    <select id="findMyGroup" resultType="com.mx.ai.sports.course.entity.Group">
        SELECT
            ag.GROUP_ID AS groupId,
            ag.COURSE_ID AS courseId,
            ag.USER_ID AS userId,
            ag.GROUP_NAME AS groupName,
            ag.MAX_COUNT AS maxCount,
            ag.CREATE_TIME AS createTime
        FROM
            APP_GROUP ag,
            APP_GROUP_STUDENT ags
        WHERE
            ag.GROUP_ID = ags.GROUP_ID
            AND ag.COURSE_ID = #{courseId}
            AND ags.USER_ID = #{userId}
            LIMIT 1
    </select>
</mapper>
